/* Hi some of the ids are not fixed, especially on steps 3-5. If you're styling for those keep that in mind */
:root {
    --primary-blue: #0156a6;
    --secondary-grey: #606060;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--primary-blue);
    color: white;
    padding: 2px;
    font-size: 35px;
    line-height: 0px;
    text-indent: 10px;
    display: flex;
    justify-content: flex-start;

    & img {
        margin-left: 70px;
    }

}

#remaining-income-section {
    width: 600px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-blue);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;

    & p {
        margin: 0px;
        margin-right: 10px;
    }
}

.negative {
    color: #ff4d4f !important;
}

.barelyPositive {
    color: #ffd166 !important;
}

.positive {
    color: #2ecc71 !important;
}

nav img {
    width: 50px;
    height: 50px;
    align-self: center;
}


body {
    margin: 0px;

    & * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif !important;
    }
}

body> :not(header) {
    margin: 70px;
}

.heading {
    margin: 0px;
    margin-left: 70px;
    justify-content: center;
}

#main-content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 50px;
}

/* Career Input */
#career-input-section {
    width: 600px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-blue);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    gap: 10px;

    & p {
        margin: 10px;
    }

    & input {
        display: none;
    }

    & label {
        align-self: center;
        font-size: 19px;
    }
}

#career-input {
    background: var(--primary-blue);
    color: white;
    border: none;
}

#tax-input-section {
    width: 600px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-blue);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;

    & p {
        margin: 0px;
        margin-right: 10px;
    }
}

#net-income-section {
    width: 600px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-blue);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;

    & p {
        margin: 0px;
        margin-right: 10px;
    }
}

#category-education {
    background: var(--primary-blue);
    color: white;
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;

    & h2 {
        color: white;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: 'SF Pro';
        font-size: 25px;
        font-style: normal;
        font-weight: 590;
        line-height: 22px;
        padding: 1rem;
        background-color: var(--secondary-grey);
        margin-top: 0;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;

        row-gap: 20px
    }
}

li {
    list-style-type: none;
    display: flex;
    justify-self: center;
    align-content: center;
    gap: 30px;

    & .spending-input {
        background: #d9d9d9;
        color: black;
        border: none;
        width: 400px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        flex-flow: row nowrap;

        & p {
            color: black;
            margin-left: 20px;
            line-height: 17px;
        }

        & input {
            margin-left: auto;
            border-radius: 0 10px 10px 0;
            border: 0px;
            width: 100px;
            text-align: center;
        }
    }
}

.page-5 {
    display: flex;
}

/* Chart and Continue (Live Updating Chart) */
#chart-and-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: -15em;
}

.next {
    background: var(--primary-blue);
    color: white;
    font-size: 35px;


    margin-top: 70px;
    padding: 20px 70px;
    border-radius: 20px;
    border: 0;

    text-decoration: none;
}

#career-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.continue {
    background: var(--primary-blue);
    color: white;
    font-size: 35px;


    margin-top: 70px;
    padding: 20px 70px;
    border-radius: 20px;
    border: 0;

    text-decoration: none;
}


.return {
    background: var(--primary-blue);
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

button.back {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top:30px;
    border: 2px solid black;
    background: white;
    text-align: center;
    display: flex;
    place-content: center;

    & b {
        margin-bottom: 0.25rem;
        margin-top: -0.25rem;
        margin-left: 0.1rem;
        margin-right: -0.1rem;
    }
}

.hide {
    display: none;
}

#reshults {
    /* typo please fix, rsoults, retults, reshults */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 200px;
}

.finalColumn {
    background-color: var(--primary-blue);
    width: 375px;
    height: 827px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.finalExpenses {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.graph-container {
    width: 500px;
    height: 500px;
}


.finalExpenses>section {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    justify-content: space-between;
    height: 35px;
    padding: .5px 9px;
    background-color: #D9D9D9;
    position: relative;
}

.final-spending {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav {
        background-color: var(--primary-blue);
        color: white;
        padding: 2px;
        font-size: 35px;
        line-height: 0px;
        text-indent: 10px;
        display: flex;
        justify-content: center;

        & img {
            margin-left: 0px;
        }

    }

    h1 {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }

    li {
        list-style-type: none;
        display: flex;
        justify-self: center;
        align-content: center;
        gap: 30px;

        & .spending-input {
            background: #d9d9d9;
            color: black;
            border: none;
            width: 350px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-self: center;

            & p {
                color: black;
                margin-left: 20px;
                line-height: 17px;
            }

            & input {
                margin-left: auto;
                border-radius: 0 10px 10px 0;
                border: 0px;
                width: 100px;
                text-align: center;
            }
        }
    }

    li img {
        margin-left: -20px
    }



    #main-content {
        display: flex;
        flex-direction: column;
    }

    #tax-input-section {
        width: 440px;
        justify-self: center;
    }

    #net-income-section {
        width: 440px;
        justify-self: center;
    }

    #career-input-section {
        width: 440px;
        height: auto;
        min-height: 60px;
        margin-left:80px;
        padding: 10px;
        font-size: 20px;
        color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: var(--primary-blue);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 10px;

        & p {
            margin: 0;
        }
    }


    #career-input {
        background: var(--primary-blue);
        color: white;
        border: none;
        font-size: 15px;
    }

    #category-education {
        background: var(--primary-blue);
        color: white;
        width: 440px;
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        justify-content: center;
        margin-bottom: 300px;
        margin-left: 10px;


        & h2 {
            justify-content: center;
            margin-top: -133px;
            color: white;
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: 'SF Pro';
            font-size: 25px;
            font-style: normal;
            font-weight: 590;
            line-height: 22px;
            padding: 1rem;
            background-color: var(--secondary-grey);
        }

        & ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            row-gap: 20px
        }

        & li {
            margin-left: -35px;
        }
    }


    h1 {
        display: flex;
        justify-self: center;
    }

    .heading {
        margin: 0;
    }

    .finalColumn {
        display: none;
    }

    .finalExpenses {
        display: none;
    }

    .finalGraph {
        margin-left: -150px;
    }

    #career-selection {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "career-label career-select"
            "income-label income-value";
        justify-content: center;
        align-items: center;
        row-gap: 8px;
        gap: 10px;
    }

    #career-selection>p {
        grid-area: career-label;
    }

    #career-selection>select {
        grid-area: career-select;
    }

    #career-selection>label[for="income"] {
        grid-area: income-label;
        justify-self: end;
        margin: 0;
    }

    #career-selection>#salaryContainer {
        grid-area: income-value;
        justify-self: start;
    }

    #remaining-income-section {
        width: 440px;
        justify-self: center;
    }
}

button.back {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top:30px;
    margin-left:30px;
    border: 2px solid black;
    background: white;
    text-align: center;
    display: flex;
    place-content: center;

    & b {
        margin-bottom: 0.25rem;
        margin-top: -0.25rem;
        margin-left: 0.1rem;
        margin-right: -0.1rem;
    }
}