/* Hi some of the ids are not fixed, especially on steps 3-5. If you're styling for those keep that in mind */
:root {
    --primary-blue: #0156a6;
    --secondary-grey: #606060;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--primary-blue);
    color: white;
    padding: 2px;
    font-size: 35px;
    line-height: 0px;
    text-indent: 10px;
    display: flex;

}

nav img {
    width:50px;
    height:50px;
    align-self:center;
}


body {
    margin: 0px;
    & * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif !important;
    }
}

body > :not(header) {
    margin: 70px;
}

.heading {
    margin: 0px;
    margin-left: 70px;
    justify-content:center;
}

#main-content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 50px;
}

/* Career Input */
#career-input-section {
    width: 600px;
    height: 55px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--primary-blue);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    gap: 10px;

    & p {
        margin: 10px;
    }

    & input {
        display: none;
    }

    & label {
        align-self: center;
    }
}

#career-input {
    background: var(--primary-blue);
    color: white;
    border: none;
}

#category-education {
    background: var(--primary-blue);
    color: white;
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    & h2 {
        color: white;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: 'SF Pro';
        font-size: 25px;
        font-style: normal;
        font-weight: 590;
        line-height: 22px;
        padding: 1rem;
        background-color: var(--secondary-grey);
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 20px
    }
}

li {
    list-style-type: none;
    display: flex;
    justify-self: center;
    align-content: center;
    gap: 30px;
    & .spending-input {
        background: #d9d9d9;
        color: black;
        border: none;
        width: 400px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        flex-flow: row nowrap;

        & p {
            color: black;
            margin-left: 20px;
            line-height: 17px;
        }

        & input {
            margin-left: auto;
            border-radius: 0 10px 10px 0;
            border: 0px;
            width: 100px;
            text-align: center;
        }
    }
}

.page-5 {
    display: flex;
}

/* Chart and Continue (Live Updating Chart) */
#chart-and-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:0;
}

.next {
    background: var(--primary-blue);
    color: white;
    font-size: 35px;
    

    margin-top: 70px;
    padding: 20px 70px;
    border-radius: 20px;
    border: 0;

    text-decoration: none;
}

.return {
    background: var(--primary-blue);
    color: white;
    font-size: 35px;
    

    margin-top: 70px;
    padding: 20px 70px;
    border-radius: 20px;
    border: 0;

    text-decoration: none;
}

button.back {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid black;
    background: white;
    text-align: center;
    display: flex;
    place-content: center;
    & b {
        margin-bottom: 0.25rem;
        margin-top: -0.25rem;
        margin-left: 0.1rem;
        margin-right: -0.1rem;
    }
}

.hide {
    display: none;
}

#reshults {
    /* typo please fix, rsoults, retults, reshults */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.finalColumn {
    background-color: var(--primary-blue);
    width: 33%;
    height: 90vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalExpenses > section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    border-radius: 10px;
    justify-content: space-between;
    height: 32px;
    padding: 0 10px;
    margin-bottom: 50px;
    background-color: #D9D9D9;
}


/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav {
        background-color: var(--primary-blue);
        color: white;
        padding: 2px;
        font-size: 35px;
        line-height: 0px;
        text-indent: 10px;
        display: flex;
        justify-content:center;
    
    }

    li {
        list-style-type: none;
        display: flex;
        justify-self: center;
        align-content: center;
        gap: 30px;
        & .spending-input {
            background: #d9d9d9;
            color: black;
            border: none;
            width: 350px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-self:center;
    
            & p {
                color: black;
                margin-left: 20px;
                line-height: 17px;
            }
    
            & input {
                margin-left: auto;
                border-radius: 0 10px 10px 0;
                border: 0px;
                width: 100px;
                text-align: center;
            }
        }
    }

    li img {
        margin-left:-20px
    }



    #main-content {
        display:flex;
        flex-direction:column;
    }

    #career-input-section {
        width: 440px;
        height: 55px;
        padding: 10px;
        font-size: 20px;
        color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: var(--primary-blue);
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        align-content: center;

        justify-content: space-around;
        gap: 10px;
    
        & p {
            margin: 10px;
        }
    }
    #career-input {
        background: var(--primary-blue);
        color: white;
        border: none;
    }
    
    #category-education {
        background: var(--primary-blue);
        color: white;
        width: 440px;
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        justify-content:center;

    
        & h2 {
            color: white;
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: 'SF Pro';
            font-size: 25px;
            font-style: normal;
            font-weight: 590;
            line-height: 22px;
            padding: 1rem;
            background-color: var(--secondary-grey);
        }
    
        & ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            row-gap: 20px
        }
    }


    h1 {
        display:flex;
        justify-content:center;
    }
}